duckdns/examples/PublicIP + DuckDNS (on change).json
[
    {
        "id": "fa4e3f9b.1f7a",
        "type": "tab",
        "label": "Public IP + DuckDNS (on change)",
        "disabled": true,
        "info": ""
    },
    {
        "id": "9c7f22fb.3b7df",
        "type": "duckdns",
        "z": "fa4e3f9b.1f7a",
        "name": "",
        "domains": "foo, bar",
        "ip": "",
        "clear": false,
        "verbose": true,
        "x": 880,
        "y": 40,
        "wires": [
            [
                "71158438.7663b4"
            ]
        ]
    },
    {
        "id": "8ef609d1.7e294",
        "type": "inject",
        "z": "fa4e3f9b.1f7a",
        "name": "Trigger",
        "props": [],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 100,
        "y": 40,
        "wires": [
            [
                "4db27577.8e6be4"
            ]
        ]
    },
    {
        "id": "71158438.7663b4",
        "type": "debug",
        "z": "fa4e3f9b.1f7a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 40,
        "wires": []
    },
    {
        "id": "4db27577.8e6be4",
        "type": "public-ip-address",
        "z": "fa4e3f9b.1f7a",
        "name": "",
        "x": 250,
        "y": 40,
        "wires": [
            [
                "3606aef1.8dd81a",
                "c728a089.343df"
            ]
        ]
    },
    {
        "id": "bda0bca5.b47a08",
        "type": "change",
        "z": "fa4e3f9b.1f7a",
        "name": "msg.payload -> msg.ip",
        "rules": [
            {
                "t": "set",
                "p": "ip",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 40,
        "wires": [
            [
                "9c7f22fb.3b7df"
            ]
        ]
    },
    {
        "id": "3606aef1.8dd81a",
        "type": "change",
        "z": "fa4e3f9b.1f7a",
        "name": "flow.public_ip = msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "public_ip",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "c728a089.343df",
        "type": "switch",
        "z": "fa4e3f9b.1f7a",
        "name": "ip changed?",
        "property": "public_ip",
        "propertyType": "flow",
        "rules": [
            {
                "t": "neq",
                "v": "payload",
                "vt": "msg"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 450,
        "y": 40,
        "wires": [
            [
                "bda0bca5.b47a08"
            ]
        ]
    }
]
